body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: Arial;
  background: #000;
}
input, button {
  color: #fff;
  padding: 2px 4px;
  border: 2px #fff solid;
  border-radius: 0.75rem;
  background-color: transparent;
}
input[type="color"] {
  padding: 0px;
}
button {
  border-radius: 0.5rem;
}
p {
  margin: 2px;
}

.top {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 55vw;
}
#size {
  width: 50px;
}

.canvas-area {
  display: flex;
}
.tools {
  display: grid;
  grid-template-columns: auto auto;
}
canvas {
  display: block;
  width: 95dvh;
  height: 95dvh;
}
#heatmap {
  pointer-events: none;
  position: absolute;
}